<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>105283954198-0s68sav05fgvhh2dl38051unh2phlmdo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.105283954198-0s68sav05fgvhh2dl38051unh2phlmdo</string>
	<key>API_KEY</key>
	<string>AIzaSyAjcIVqqWTHGv4Cgs2P4EwA2eBmFkjpyiM</string>
	<key>GCM_SENDER_ID</key>
	<string>105283954198</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eCommerceApp</string>
	<key>PROJECT_ID</key>
	<string>e-commerce-app-54cb4</string>
	<key>STORAGE_BUCKET</key>
	<string>e-commerce-app-54cb4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:105283954198:ios:20bb3f5f516166a3083737</string>
</dict>
</plist>